body {
    background-attachment: fixed; 
    background-position: center center; 
    
}
#cos {
    background-color: white;
}
#cosTaula {
    background-color: white; 
}
.colorTaula {
    background-color: white;
}
.table {
    background-color: white;
}